<h2>Create a new drone</h2>

<form method="POST" action="/drones/create">

    <label for="name">DRONE NAME:</label><br />
    <input type="text" name="name" /><br />

    <label for="propellers">PROPELLERS:</label><br />
    <input type="number" name="propellers" /><br />

    <label for="maxSpeed">maxSpeed:</label><br />
    <input type="number" name="maxSpeed" />

    <input type="submit" placeholder="DELETE">
    
</form>